<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
	<head>
    {{ partial "head.html" . }}
    </head>
<body>
    {{ partial "nav.html" . }}
    <section id="wrapper">
        {{ block "profile" . }}{{ end }}
        {{ block "main" . -}}{{- end }}

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-1399481731021488",
                enable_page_level_ads: true
            });
        </script>

        {{ partial "footer.html" . }}
    </section>
    {{ partial "js.html" . }}
</body>
</html>
