<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
	<head>
    {{ partial "head.html" . }}
    </head>
<body>
    {{ partial "nav.html" . }}
    <section id="wrapper">
        {{ block "profile" . }}{{ end }}
        {{ block "main" . -}}{{- end }}

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-1399481731021488"
            data-ad-slot="9323059516"
            data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        {{ partial "footer.html" . }}
    </section>
    {{ partial "js.html" . }}
</body>
</html>
